dispatcher: 
     bind: ["udp://0.0.0.0:53","tcp://0.0.0.0:53"]
upstream: 
     local: 
        server: "aliyun"
        policies: 
            query: 
                unhandlable_types: "deny"
                domain: ""
            reply: 
                error_rcode: "deny"
                cname: ""
                without_ip: "deny"
                ip: "deny:./blackip.list"
     cloudflare: 
        server: "cloudflare"
        policies: 
            query: 
                unhandlable_types: "deny"
                domain: ""
            reply: 
                error_rcode: "deny"
                cname: ""
                without_ip: "deny"
                ip: "deny:./blackip.list"
     cloudflare-doh: 
        server: "cloudflare-doh"
        policies: 
            query: 
                unhandlable_types: "deny"
                domain: "accept:./gw.list|deny"
            reply: 
                error_rcode: "deny"
                cname: ""
                without_ip: "deny"
                ip: "deny:./blackip.list"
     cloudflare-dot: 
        server: "cloudflare-dot"
        policies: 
            query: 
                unhandlable_types: "deny"
                domain: "accept:./gw.list|deny"
            reply: 
                error_rcode: "deny"
                cname: ""
                without_ip: "deny"
                ip: "deny:./blackip.list"
     containerpi-doh: 
        server: "containerpi-doh"
        policies: 
            query: 
                unhandlable_types: "deny"
                domain: "accept:./gw.list|deny"
            reply: 
                error_rcode: "deny"
                cname: ""
                without_ip: "deny"
                ip: "deny:./blackip.list"                    
server: 
     aliyun: 
        addr: "223.5.5.5:53"
        protocol: "tcp"
        deduplicate: true
        tcp: 
            idle_timeout: 10
        dot: 
            server_name: "dns.alidns.com"
            idle_timeout: 10
        doh: 
            url: "https://223.5.5.5/dns-query"                
 
     cloudflare: 
        addr: "1.0.0.1:53"
        protocol: "tcp"
        deduplicate: true
        tcp: 
            idle_timeout: 10
        dot: 
            server_name: "cloudflare-dns.com"
            idle_timeout: 10
        doh: 
            url: "https://1.0.0.1/dns-query"

     cloudflare-doh: 
        addr: "1.0.0.1:443"
        protocol: "doh"
        deduplicate: true
        tcp: 
            idle_timeout: 10
        dot: 
            server_name: "cloudflare-dns.com"
            idle_timeout: 10
        doh: 
            url: "https://1.0.0.1/dns-query"
     containerpi-dot: 
        addr: "45.77.180.10:853"
        protocol: "dot"
        deduplicate: true
        tcp: 
            idle_timeout: 10
        dot: 
            server_name: "dns.containerpi.com"
            idle_timeout: 10
        doh: 
            url: "https://doh.opendns.com/dns-query"
     containerpi-doh: 
        addr: "45.77.180.10:443"
        protocol: "doh"
        deduplicate: true
        tcp: 
            idle_timeout: 10
        dot: 
            server_name: "dns.containerpi.com"
            idle_timeout: 10
        doh: 
            url: "https://dns.containerpi.com/dns-query"
     cloudflare-dot: 
        addr: "1.0.0.1:853"
        protocol: "dot"
        deduplicate: true
        tcp: 
            idle_timeout: 10
        dot: 
            server_name: "cloudflare-dns.com"
            idle_timeout: 10
        doh: 
            url: "https://1.0.0.1/dns-query"
ca: 
    path: []
